@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: 'Inter', sans-serif;
  background: #232323;
}

:root {
  --color-primary: #f8fafc;
  --color-secondary: #ababab;
  --color-background: #1f1f1f;
  --color-dark-gray: #383838;
  --color-card-background: #1a1a1a;
  --color-bg-footer: #262626;
  --color-percentage: #02ca3a;
  --color-currency: #f6b100;
  --color-light-blue: #025cca;
  --color-dark-green: #2e4a40;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}